header {
    background-color: rgb(231, 231, 231);
    text-align: center;
}

#immagine-profilo {
    width: 225px;
    height: 200px;
}

#riga-1 {
    color: rgb(231, 189, 0);
    background-color: rgb(231, 189, 0);
    border: none;
    height: 2px;
}

#riga-2 {
    color: rgb(231, 189, 0);
    background-color: rgb(231, 189, 0);
    border: none;
    height: 1px;
}

h2 {
    color: rgb(231, 189, 0);
}

div {
    text-align: center;
}