body {
    background-image: url(Background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#titolo {
    font-family: 'Henny Penny', cursive;
    font-size: x-large;
}